.header{
    width:100%;
    display:flex;
    gap:20px;
    justify-content:center;
    align-items:center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.first{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 60%;
}

.second{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.apps{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.button {
    width: 60px;
    height: 60px;
    background-color: #44608f;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: 1s;

}

.button:hover{
    background-color: #143062;
}

@media (max-width: 768px){

    .header{
        flex-direction: column;   /* stack elements */
        text-align: center;
        gap: 40px;
        padding: 0 20px;
    }

    .first{
        width: 100%;
    }

    .second{
        width: 100%;
    }

    .second img{
        width: 70%;   /* smaller image for phone */
        height: auto;
    }

    .apps{
        padding-bottom: 20px;
        flex-wrap: wrap;
    }

    h1{
        font-size: 300%;   /* smaller title on phone */
    }

}

body{
    padding: 0 10px;
}
